@charset "UTF-8";
/* #contents>div {border: 1px solid #000000;} */
.form-group {padding: 0px 0px 10px 0px;}





/* *************************main-content-header***************** */
#main-content-header>ol {
	float: right;
			}
#main-content-header>ol>li {
	float: left;
			}
#main-content-header>ol>li:after {padding: 0px 10px; content: ">"}
#main-content-header>ol>li.last:after {padding: 0px; content: ""}


/* *********************main-content-board********************* */
#search-button {float: right; padding: 25px 0px 15px 0px; }
#search-button>input {width: 180px; height: 30px;}
#search-button>button {width: 60px; height: 35px; background-color: #dddddd;}





/* 게시판 공통 */
#main-content-body {
	padding: 30px 0px 20px 0px;
	border-bottom: 1px solid #bfbfbf;
		}

#main-content-footer {
	padding: 20px 0px 20px 0px;
	text-align: center;
			}







/* 리스트 */
/* 글쓰기폼 */
#main-content-body .form-title {
	display: inline-block;
	width: 80px;
		}

#main-content-body #sel-board {width: 162px;}
#main-content-body #txt-title {width: 710px; /* 722px; */}
#main-content-body #txt-password {width: 150px;}
#main-content-body #txt-content {width: 800px; height: 200px;}

/*
#txt-title {padding: 6px 3px 6px 6px;}
#txt-password {padding: 6px 3px 6px 6px;}
*/

input[type="text"] {padding: 6px 3px 6px 6px;}
input[type="password"] {padding: 6px 3px 6px 6px;}
input[type="radio"] {width: 15px; height: 15px; margin: 0px 20px 0px 0px;}
input[type="checkbox"] {width: 15px; height: 15px; margin: 0px 20px 0px 0px;}
input[type="file"] {cursor: pointer;}

select {padding: 6px 3px 6px 3px; /* height: 25px; */}

textarea {
	font-size: 14px; 
	font-family: "맑은 고딕", 돋움, 굴림; 
	padding: 6px 3px 6px 6px;
		}

.btn {
	padding: 5px 0px 5px 0px;
	width: 80px;
	cursor: pointer;
		}






					