@charset "UTF-8";
/* *********************초기화****************** */
/* 여백초기화 */
 body, div, ul, li, dl, dt, ol, h1,
 h2, h3, h4, h5, h6, input, fieldset,
  legend, p, select, table, th, td, tr,
   textarea, button, form {margin: 0; padding:0;}


body {
	font-size: 12px;
	font-family: "맑은 고딕" 돋움 굴림;
		}


/* 리스트 초기화 */
ul, ol {list-style-type: none;}

/* 링크 초기화 */
a:link {color: #000000; text-decoration: none;}
a:visited {color: #000000; text-decoration: none;}
a:hover {color: #000000; text-decoration: none;}
a:active {color: #000000; text-decoration: none;}


/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}


.bold {font-weight: bold;}

.pointer {cursor: pointer;}	


/* ****************************레이아웃************************ */
#wrap {
	margin: 0px auto;
	width: 1000px;
		}

#wrap > #header {
	/* background-color:  #0000ff; */
	border-bottom: 1px solid #bfbfbf;
	padding: 10px 0px 10px 0px;
		}
#wrap > #nav {
	/* background-color: #00ff00; */
	border-bottom: 1px solid #bfbfbf;
	padding: 10px 0px 10px 0px;
		}

/* 가로 전체 사용할 때  */
#wrap > #full-contents {
	/* background-color: #ff00ff; */
	padding: 40px 20px 40px 20px;
			}

/* 가로 서브메뉴 있을 때 */
#contents{
	padding: 30px 0px 30px 0px;
			}


#wrap > #footer {
	background-color: #dddddd;
	padding: 20px 0px 20px 0px;
			}
/* #wrap > #footer {
	height: 50px;
	background-color: #dddddd;
			} */

/* ******************헤더(로고  로그인, 회원가입)***************** */
#header > h1 {
	color: #79b30b;
	font-size: 35px;
	float: left;
	font-weight: bold;
	/* border: 1px solid #000000; */
	}			
		
#header ul {
	margin: 15px 0px 0px 0px;
	/* border: 1px solid #000000; */
	float: right;
	}
	
#header li {
	margin: 0px 0px 0px 20px;
	float: left;
	font-size: 14px;
	/* border: 1px solid #000000; */
		}	
		
/* **********************nav(메인)*************************** */
#nav ul>li {
	float: left;
	font-size: 20px;
	font-weight: bold;
	width: 250px;
	text-align: center;
	
	/* border: 1px solid #000000; */
		}

/* *******************컨텐츠(서브메뉴 있을때)********************** */
/* aside(서브메뉴) */
#contents>#aside {
	margin: 0px 10px 0px 0px;
	float: left;
	width: 180px;
			}

#contents>#aside>h2 {
	height: 60px;
	line-height: 60px;
	/* padding: 25px 0px 25px 0px; */
	
	background-color: #dddddd;
	text-align: center;
	font-size: 20px;
			}

#contents>#aside>ul>li {
	margin: 5px 0px 0px 0px;
	border: 1px solid #a6a6a6;
	padding: 8px 0px 8px 10px;
	font-size: 14px;
			}




/* 메인컨텐츠 */
#contents>#main-content {
	float: left;
	width: 810px;
			}	

#contents>#main-content>#main-content-header {
	padding: 18px 0px 10px 0px;
	border-bottom: 1px solid #bfbfbf;
				}

#contents>#main-content>#main-content-header>h3 {
	float: left;
	font-size: 18px;
	font-weight: bold;
			}


/* *************************footer*************************** */
#footer {
	text-align: center;
	font-size: 12px;
		}
/* #footer {
	text-align: center;
	font-size: 12px;
	line-height: 50px;
		}	 */	











		