<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>List</title>
<link rel="stylesheet" href="../../assets/css/mysite.css">
<link rel="stylesheet" href="../../assets/css/board.css">

</head>
<body>

<div id="wrap">
	<div id="header" class="clearfix">
		<h1>MySite</h1>
		
		<ul>
			<li><a href="">로그인</a></li>
			<li><a href="">회원가입</a></li>
		</ul>
	</div>
	<!-- //header -->
	
	<div id="nav">
		<ul class="clearfix">
			<li><a href="">입사지원서</a></li>
			<li><a href="">게시판</a></li>
			<li><a href="">갤러리</a></li>
			<li><a href="">방명록</a></li>
		</ul>
	</div>
	<!-- //nav -->
	
	<div id="contents" class="clearfix">
		<div id="aside">
			<h2>게시판</h2>
			
			<ul>
				<li>일반 게시판</li>
				<li>댓글 게시판</li>
				<li>첨부 게시판</li>
			</ul>
			
			
		</div>
		<!-- //aside -->
		
		<div id="main-content">
			<div id="main-content-header" class="clearfix">
				<h3>일반게시판</h3>
				
				<ol>
					<li>홈</li>
					<li>게시판</li>
					<li class="last">일반게시판</li>
				</ol>
			</div>
			<!-- //main-content-header -->
			
			<div id="main-content-board">
				<div id="search-button">
					<input id="search" type="text" name="" value="">
					<button class="pointer">검색</button>
				</div>
				<!-- //search-button -->
			
				<div id="table">
					<table>
						<colgroup>
							<col style="width: 10%">
							<col style="width: 20%">
							<col style="width: 10%">
							<col style="width: 10%">
							<col style="width: 20%">
							<col style="width: 10%">
						</colgroup>
						<thead>
							<tr>
								<th>번호</th>
								<th>제목</th>
								<th>글쓴이</th>
								<th>조회수</th>
								<th>작성일</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr class="line">
								<td>001</td>
								<td>제목이지롱</td>
								<td>아무개</td>
								<td>128</td>
								<td>2022-04-10</td>
								<td>삭제</td>
							</tr>
							<tr class="line">
								<td>002</td>
								<td>제목이지롱</td>
								<td>아무개</td>
								<td>128</td>
								<td>2022-04-10</td>
								<td>삭제</td>
							</tr>
							<tr class="line">
								<td>003</td>
								<td>제목이지롱</td>
								<td>아무개</td>
								<td>128</td>
								<td>2022-04-10</td>
								<td>삭제</td>
							</tr>
							<tr class="line">
								<td>004</td>
								<td>제목이지롱</td>
								<td>아무개</td>
								<td>128</td>
								<td>2022-04-10</td>
								<td>삭제</td>
							</tr>
							<tr>
								<td>005</td>
								<td>제목이지롱</td>
								<td>아무개</td>
								<td>128</td>
								<td>2022-04-10</td>
								<td>삭제</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- //table -->
				
				<div id="pagenumber">
						<ul>
							<li><a href="">◀</a></li>
							<li><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">4</a></li>
							<li><a href="">5</a></li>
							<li><a href="">6</a></li>
							<li><a href="">7</a></li>
							<li><a href="">8</a></li>
							<li><a href="">9</a></li>
							<li><a href="">10</a></li>
							<li><a href="">▶</a></li>
						</ul>
						<button type="button"  class="pointer">글쓰기</button>
					
					</div>
				
				
				
			</div>
			<!-- //main-content-body -->
			
		</div>
		<!-- //main-content -->
		
		
	</div>
	<!-- //contents -->
	
	<div id="footer">
		Copyright ⓒ 2020 황일영. All right reserved
	</div>
	<!-- //footer -->
	

</div>
<!-- //wrap -->

</body>
</html>