<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>서브페이지</title>
<link rel="stylesheet" href="../../assets/css/board_practice.css">

</head>
<body>
	<div id="wrap">
		<div id="header" class="clearfix">
			<h1>MySite</h1>
			
			<ul>
				<li><a href="">로그인</a></li>
				<li><a href="">회원가입</a></li>
			</ul>
		</div>
		
		<div id="nav" class="clearfix">
			<ol>
				<li><a href="">입사지원서</a></li>
				<li><a href="">게시판</a></li>
				<li><a href="">갤러리</a></li>
				<li><a href="">방명록</a></li>
			</ol>
		</div>
		
		<div id="contents" class="clearfix">
			<div id="aside">
				<p>게시판</p>
				<ol>
					<li><a href="">일반 게시판</a></li>
					<li><a href="">댓글 게시판</a></li>
					<li><a href="">정보 게시판</a></li>
				</ol>
			</div>
			<div id="main" class="clearfix">
				<div id="main1" class="clearfix">
					<h2>일반게시판</h2>
					<ol>
						<li class="last">홈</li>
						<li class="last">게시판</li>
						<li>일반게시판</li>
					</ol>
				</div>	
				
				<div id="main2"  class="clearfix">
					<div id="search"  class="clearfix">
						<ul>
							<li><input id="search" type="text" name="" value=""></li>
							<li><button type="submit"><a href="">검색</a></button></li>
						</ul>	
					</div>			
					
					<table>
						<colgroup>
							<col style="width: 100px">
							<col style="width: 140px">
							<col style="width: 100px">
							<col style="width: 100px">
							<col style="width: 140px">
							<col style="width: 100px">
						</colgroup>
						<thead>
							<tr>
								<th>번호</th>
								<th>제목</th>
								<th>글쓴이</th>
								<th>조회수</th>
								<th>작성일</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr class="line">
								<td>001</td>
								<td><a href="">제목이지롱</a></td>
								<td>아무개</td>
								<td>128</td>
								<td>2022-04-10</td>
								<td><a href="">삭제</a></td>
							</tr>
							<tr class="line">
								<td>002</td>
								<td><a href="">제목이지롱</a></td>
								<td>아무개</td>
								<td>128</td>
								<td>2022-04-10</td>
								<td><a href="">삭제</a></td>
							</tr>
							<tr class="line">
								<td>003</td>
								<td><a href="">제목이지롱</a></td>
								<td>아무개</td>
								<td>128</td>
								<td>2022-04-10</td>
								<td><a href="">삭제</a></td>
							</tr>
							<tr class="line">
								<td>004</td>
								<td><a href="">제목이지롱</a></td>
								<td>아무개</td>
								<td>128</td>
								<td>2022-04-10</td>
								<td><a href="">삭제</a></td>
							</tr>
							<tr>
								<td>005</td>
								<td><a href="">제목이지롱</a></td>
								<td>아무개</td>
								<td>128</td>
								<td>2022-04-10</td>
								<td><a href="">삭제</a></td>
							</tr>
						</tbody>
					</table>
					
					<div id="pagenumber" class="clearfix">
						<ul>
							<li><a href="">◀</a></li>
							<li><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">4</a></li>
							<li><a href="">5</a></li>
							<li><a href="">6</a></li>
							<li><a href="">7</a></li>
							<li><a href="">8</a></li>
							<li><a href="">9</a></li>
							<li><a href="">10</a></li>
							<li><a href="">▶</a></li>
						</ul>
						<button type="button">글쓰기</button>
					
					</div>
					
				</div>
			</div>
		</div>
		<div id="footer">
			Copyright ⓒ 2020 황일영. All right reserved
		</div>
		
	</div>


</body>
</html>